# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/
env/
venv/

# Data (optional – if dataset is large/private)
data/raw/
data/processed/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
